@import './colors.scss';

.main-container {
  padding-left: 6em;
  padding-right: 6em;
}
@media (max-width: 576px) {
  .main-container {
    padding-left: 3em;
    padding-right: 3em;
  }
}
.route-view-container {
  color: $black;
  height: 100%;
  width: 100%;
  background-color: white;
  margin-bottom: 3em;
}
